node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Dependency directories
jspm_packages/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Build outputs / artifacts
*.zip
signed/


